#!/usr/bin/env bash

#
# CUSTOM
#

DB_CHARACTERS_CUSTOM_PATHS+=(
	$MOD_GUILDHOUSE_ROOT"/data/sql/db-characters/"
)

DB_WORLD_CUSTOM_PATHS+=(
	$MOD_GUILDHOUSE_ROOT"/data/sql/db-world/"
)

#
# UPDATES
#

DB_WORLD_UPDATES_PATHS+=(
	$MOD_GUILDHOUSE_ROOT"/data/sql/updates/world/"
)

DB_CHARACTERS_UPDATES_PATHS+=(
	$MOD_GUILDHOUSE_ROOT"/data/sql/updates/char/"
)
